@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');

:root.night {
    --container-background: linear-gradient(45deg, hsl(228, 60%, 15%) 0%, hsl(237, 47%, 23%) 33.3%, hsl(227, 53%, 25%) 66.6%, hsl(254, 50%, 28%) 100%);
    --app-background: hsl(227, 90%, 12%);

    --nav-btn-hover: hsl(226, 61%, 16%);
    --nav-btn-active: hsl(259, 96%, 57%);
    --nav-btn-active-shadow: 3px 3px 3px 3px hsl(259, 78%, 33%);
    --nav-btn-active-hover: hsl(259, 96%, 40%);
    --nav-btn-active-hover-shadow: 3px 3px 3px 3px hsl(259, 78%, 25%);

    --nav-icon: hsl(222, 22%, 62%);
    --nav-icon-active: hsl(0, 0%, 100%);
    --nav-icon-active-hover: hsl(0, 0%, 80%);

    --header-time-color: hsl(0, 0%, 100%);
    --header-day-color: hsl(229, 28%, 44%);
}

*, *::before, *::after {
    box-sizing: border-box;
    
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;

    display: grid;
    place-items: center;

    background: var(--container-background);
}

.app {
    width: 70%;
    height: 90%;
    padding: 3rem 3rem 3rem 0;

    display: flex;

    border-radius: 2.5rem;
    background-color: var(--app-background);
}

.app__inner {
    flex: 1;

    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 2.5fr 1fr;
    gap: 3rem;
}

/* nav ======================================= */

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.3rem;

    padding: 0 1.3rem;
}

.nav__btn {
    display: block;
    padding: .8rem;
    
    background: transparent;
    border: none;
    border-radius: 0.5rem;

    cursor: pointer;

    transition: all 0.3s linear;
}

.nav__btn:hover {
    background-color: var(--nav-btn-hover);
}

.nav__btn_active {
    background-color: var(--nav-btn-active);

    box-shadow: var(--nav-btn-active-shadow);
}

.nav__btn_active:hover {
    background-color: var(--nav-btn-active-hover);
    box-shadow: var(--nav-btn-active-hover-shadow);
}

.nav__icon {
    width: 1.8rem;
    height: 1.8rem;

    fill: var(--nav-icon);

    transition: fill 0.3s linear;
}

.nav__btn_active .nav__icon {
    fill: var(--nav-icon-active);
}

.nav__btn_active:hover .nav__icon {
    fill: var(--nav-icon-active-hover);
}

/* header =============================== */

.header {
    grid-column: 1 / 2;

    display: flex;
    justify-content: space-between;
}

.header__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__greating-time {
    font-size: 2rem;
    font-weight: 400;
    color: var(--header-time-color);
}

.header__greetings-day {
    color: var(--header-day-color);
    font-size: 1.5rem;
}

.header__date-time {
    font-size: 3.3rem;
    font-weight: 200;
    text-align: right;
    text-transform: uppercase;
    color: var(--header-time-color);
    line-height: 1.2;
}

.header__date-day {
    font-size: 1.2rem;
    color: var(--header-day-color);
}