.modal {
    padding: 2rem 2rem;
    max-width: 100vw;

    top: 50%;
    left: 50%;

    border: 0;
    box-shadow: 0 0 15px 3px var(--clr-primary-800);
    background-color: var(--clr-primary-500);
    border-radius: 1.2rem;

    transform: translate3d(-50%, -50%, 0);
}

.modal::backdrop {
    backdrop-filter: blur(4px);
}

.modal__header {
    display: block;
    margin-bottom: 1rem;

    font-size: 1.7rem;
    font-weight: var(--fw-regular);
    color: var(--clr-neutral-400);
}

.modal__form {
    display: flex;
}

.modal__input {
    flex: 1;

    padding: 0.5rem 1rem;
    max-width: 60vw;

    font-size: 1.3rem;

    border: 3px solid transparent;
    border-right: 0;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    outline: 0;

    transition: border .19s linear;
}

.modal__input:focus,
.modal__input:focus + .modal__btn {
    border-color: var(--clr-primary-300);
}

.modal__btn {
    padding: 0.5rem 1rem;

    font-size: 1.3rem;

    border: 3px solid transparent;
    border-left: 0;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    background-color: var(--clr-neutral-400);
    cursor: pointer;

    transition: 
        color 0.3s linear, 
        background 0.3s linear, 
        border 0.19s linear;
}

.modal__btn:hover {
    background-color: var(--clr-primary-300);
    color: var(--clr-neutral-400);
}